html{
    /* height: 100vh;
    width: 100vw; */
}

body{
    margin: 0;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
}

#homepage{
    display: flex;
    background-color: #27374D;
    width: 100vw;
    /* height: 100vh; */
}

.daydate{
    font-size: 3em;
}

.sidebar{
    display: none;
    /* display: grid; */
    width: 23vw;
    height: 100vh;
    background-color: #9DB2BF;
}

.main{
    width: 100vw;
    height: 100vh;
    /* width: 85vw; */
    text-align: -webkit-center;
    color: white;
}

.welcome,.datecontainer{
    text-align: center;
}

.welcome{
    margin: 10px;
    padding: 13px;
    font-size: 2em;
}

.datecontainer{
    font-size: 1.5em;
}

.addtask{
    margin-top: 44vh;
    text-align: center;
    display: flex;
    justify-content: center;
}
    
    .addtaskbtn{
    display: inline-flex;
    height: 6.5vh;
    width: 4vw;
    background-color: black;
    /* position: absolute; */
    border-radius: 10px 0px 0px 10px;
}

.addtasktxt{
    resize: none;
    height: 6vh;
    line-height: 45px;
    border: none;
    display: inline-flex;
    width: 55vw;
    border-radius: 0px 10px 10px 0px;
    font-size: 2em;
    outline: none;
}

.listicon{
    width: 62px;
    height: 47px;
    cursor: pointer;
    color: #fff;
}

.star{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 25px;
    top: 25px;
}

.fa-star{
    font-size: 2.4em;
    position: absolute;
    left: 25px;
    top: 25px;
    cursor: pointer;
    color: white;
}

.fa-thumbtack{
    font-size: 1em;
    position: absolute;
    left: 232px;
    top: 5px;
    cursor: pointer;
}

.thumbtackbox{
    position: absolute;
    left: 232px;
    top: 5px;
    width: 13px;
    height: 17px;
}

.user{
    width: 86px;
    height: 39px;
    color: #0c1810;
    font-size: 1em;
    left: 110px;
    top: 25px;
    display: flex;
    justify-content: right;
    align-items: center;
    POSITION: absolute;
}

.sidebarc1{
    position: relative;
    top: 88px;
}

.today, .next7days, .tasks, .calendar{
    height: 1vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 24px;
    cursor: pointer;
}

.today:hover, .next7days:hover, .tasks:hover, .calendar:hover{
    background-color: aqua;
}

.next7daysmain, .tasksmain, .calendarmain{
    width: 100vw;
    height: 100vh;
    display: none;
    color: white;
    background-color: aqua;
}

.tasksmain{
    background-color: black;
}

.calendarmain{
    background-color: antiquewhite;
}